@import "tailwindcss";

html, body {
  font-family: "Poppins", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-100, currentColor);
  }
}


@theme {
  --color-primary-main: #004e52;
  --color-primary-dark: #003639;
  --color-primary-light: #007A80;
  --color-base-background: #F9FAFB;

  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;


  --spacing-sidebar-width: 300px;
  --spacing-top-bar-height: 60px;
}



